{% assign posts = site.posts | where: 'categories', include.type %}

{% capture title %}{{include.type}}s{% endcapture %}

<ul class="posts">
    {% for post in posts %}
    {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}

    <li class="post {{event_class}}">
      <a href="{{ post.url }}">{{ post.title }}</a><br />
      <em>
      Written by <a href="{{ page.author-link }}">
	{{ post.author }}</a> on
      {{post.date | date: "%Y-%m-%d"}}<br />
      </em>
      
      <br />
    </li>
  {% endfor %}
</ul>
