{% assign events = site.posts | where: 'categories', include.type %}
{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign show_no_upcoming_notice = true %}

{% if include.show_all_events %}
{% capture title %}{{include.type}}s{% endcapture %}
{% else %}
{% capture title %}Upcoming {{include.type}}s{% endcapture %}
{% endif %}

<h2>{{title |capitalize}}</h2>

<ul class="events">
    {% for post in events %}
    {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
    {% if posttime > nowunix or include.show_all_events %}
    {% assign show_no_upcoming_notice = false%}

    {% if posttime > nowunix %}
    {% assign event_class = "future" %}
    {% else %}
    {% assign event_class = "past" %}
    {% endif %}

    <li class="event {{event_class}}">
        {% if post.host %}
        <span class="sponsor"><img src="/assets/img/{{post.logo}}" alt="{{post.host}}" title="{{post.host}}" /></span>
        {% endif %}
      <span class="emoji-icon">{{include.emoji}}</span> <a href="{{ post.url }}">{{ post.title }}</a><br />
      <span class="emoji-icon">🗓</span> {{post.date | date: "%Y-%m-%d"}}<br />
      <span class="emoji-icon">‼️ </span> <a href="{{ post.meetup_link }}">RSVP</a> at meetup.com
    </li>
    {% endif %}
  {% endfor %}
  {% if show_no_upcoming_notice %}
  <li><span class="emoji-icon">❌</span>No upcoming {{include.type}}s</li>
  {% endif %}
</ul>